# vscode
.settings/
.vscode/

# Build output
Debug/
Release/
build/

# STM32CubeIDE generated
*.launch

# OS files
.DS_Store
Thumbs.db

#python venv
Python/src/__pycache__/
Python/venv_py/

#MatLab autosave
MatLab/*.asv